#projetos-container {
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1F2937;
    margin: 30px 0;
    box-shadow: 10px 10px 15px rgb(3, 7, 18, 0.1);
    justify-items: center; /* Centraliza horizontalmente os itens */
    align-items: center; /* Centraliza verticalmente os itens */
}

#projetos-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    border: 0px solid #374151;
    border-radius: 10px;
}

#projetos-container .img-projetos {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    background-color: #374151;
    align-items: center;
    justify-content: center;
}

#projetos-container .textos-projetos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

#projetos-container p {
    font-size: 0.8rem;
    margin: 10px 0;
}

.div-token-tecnologias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
}

.div-token-tecnologias * {
    margin: 5px;
}

.link-projetos {
    margin: 10px 0;
}

.link-projetos * {
    margin-left: 1px;
}

.link-projetos div {
    display: inline-block;
}

.link-projetos a {
    padding: 0;
}

.link-projetos a * {
    padding: 10px;
    border-radius: 5px;
}

.link-projetos a *:hover {
    background-color: rgba(3, 7, 18, 0.3);
}

#projetos-container #token-container {
    margin: 0;
}


@media screen and (max-width: 1000px) {
    #projetos-container {

        grid-template-columns: 1fr;

    }
}