#iframe-PC {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    height: 638px;
    width: 1005px;
    overflow: hidden;
    top: 23.2%;
    margin-left: 16.7%;  
}

#iframe-TV {
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

#iframe-TV iframe {
    height: 100%;
    width: 100%;
}

